* {
    font-family: 'Franklin Gothic Medium';
    font-weight: bold;
}

h1 {
    color: green;
}

h2 {
    color: lightcoral
}

li {
    color: rgb(159, 159, 221);
}

li:hover {
    color: rgb(72, 72, 183);
    text-decoration: underline;
}
